
@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}
.about-container {
    // font-size: 6rem;
    @include flex(row, space-between, center);
    background-color: #202020;
    width: 100vw;
    height: 100vh;
}
.about {
    font-size: 1rem;
}
.animation-container {
    // width: 80rem;
    // height: 50rem;
    // background-color: #EE6C4D;
    // border-radius: 50%;
    // background:   no-repeat fixed auto left top content-box ;
    
    background-image: url(../images/Ellipse7.svg);
    background-position: 30% -11%;
    background-repeat: no-repeat;
    background-origin: padding-box;
    width: 90rem;
    height: 90rem;
    position: absolute;
    top: 42px;
    right: 725px;
}