@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

$PlayerColor: #212529 ;
$DarkerShade: #202020;
$PlayerBackgroundColor: #E63946;
$LexenDeca: 'Lexend Deca', sans-serif;
$OleoScript: 'Oleo Script', cursive;

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

.player__area {
    @include flex(row, space-evenly, center);
    max-height: 40vh;
    height: 100%;
    margin: 3.5em;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    background-color: $PlayerBackgroundColor;
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
}
.player{
    @include flex(column, space-evenly, center);
    width: 45vw;
    height: 40vh;
    margin: 7.2%;
    background-color: $PlayerBackgroundColor;
}

.player-song-name {
    @include flex(row, space-around, center);
    width: 90%;
    height: 5rem;
    padding: 1rem;
    h1 {
        padding-bottom: 10px;
        color: $PlayerColor;
        width: 100%;
        font-size: 2.1rem;
        font-family: $LexenDeca;
        margin: 0;
        font-weight: bold;
    }
}

.time-control {
    @include flex(row, center, center);
    width: 35rem;
    margin: 0 auto;
    border-radius: 20px;
    
    p {
        padding: 1rem;
        margin: 0;
        min-width: 60px;
        width: 75px;
        font-size: 1.2em;
    }
}

.play-control {
    @include flex(row, space-around, center);
    padding: 1rem;
    width: 90%;
}

.volume-control {
    @include flex(column, space-between, center);
    background-color: inherit;
    flex-flow: column;
    margin-right: 7.3%;
    padding: 21px 2px 15px 2px;
    border-radius: 15px;
    height: 32vh;
}

.track {
    width: 100%;
    height: 1rem;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;

    input {
        width: 100%;
        -webkit-appearance: none;
        background: transparent;
        outline: none;
        opacity: 1;
        -webkit-transition: 0.2s;
        transition: opacity 0.2s;
        cursor: pointer;
        background-color: none;
    }

    input[type="range"]:focus {
        outline: none;
    }
    
    input[type="range"]:hover {
        opacity: 1;
    }
    
    input[type="range"]::-webkit-slider-thumb {
        box-shadow: 0px 0px 0px #000000;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        border: 0.5px solid $PlayerColor;
        background-color: #F1F1F1;
        cursor: pointer;
        -webkit-appearance: none;
        padding-right: 5px;
    }
    
    input[type="range"]::-moz-range-thumb {
        -webkit-appearance: none;
        height: 16px;
        width: 16px;
        transition: 0.2s all ease-out;
    }
    // Adding other styles
    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 1.8rem;
        cursor: pointer;
        border-radius: 20px;
        animation: 0.2s;
        box-shadow: 0px 0px 0px #000000;
        background: $PlayerColor;
        border-radius: 1px;
        border: 0px solid #000000;
      }
      input[type=range]:focus::-webkit-slider-runnable-track {
        background: $PlayerColor;
      }
}

.animate-track {
    background: #d3d5d7;
    width: 100%;
    height: 100%;
    transform: translateX(0%);
    pointer-events: none;
    border: 0.4px solid #fff;
    opacity: 0.7;
    display: none;
}

// ---------   Material UI ------------------
.MuiSlider-root {
    color: $PlayerColor !important;
    display: flex !important;
    justify-content: center !important;
}
.MuiSlider-thumb {
    background-color: $PlayerColor !important;
    width: 1em !important;
    height: 1em !important;
    margin-left: 0 !important;
}
.MuiSlider-rail, .MuiSlider-track {
    width: 6px !important;
    border-radius: 5px !important;
}
.MuiSlider-valueLabel {
    left: calc(-33% - 4px) !important;
}
.PrivateValueLabel-circle-18 {
    margin-left: 4% !important;
}

.play, .skip-back, .skip-forward, .repeat-song, .volume-icon {
    cursor: pointer;
    filter: drop-shadow(5px 7px 4px rgba(33, 37, 41, 0.35));
    
}

.volume-icon {
    margin-top: 12px;
    padding-bottom: 4px;
}


// Mobile layout
@media screen and (max-width: 540px) {
    .time-control {
        width: 90%;
    }
    .play-control {
        width: 60%;
    }
}
// iPad layout
@media (min-width: 768px) and (max-width: 1024px) {
    .time-control {
        width: 85%;
    }
    .play-control {
        width: 60%;
    }
}
// iPad Pro and other 13 inch screen
@media (min-width: 1024px) and (max-width: 1366px) {
    .time-control {
        width: 80%;
    }
    .play-control {
        width: 40%;
    }
    .volume-control {
        @include flex(column, center, center);
    }
}
// Large screen monitor
@media (min-width: 1920px) {
    .time-control {
        width: 100%;
    }
    .play-control {
        width: 100%;
    }
    .player {
        @include flex(column, center, center);
        margin-top: 5rem;
        margin-bottom: 5rem;
        height: 100%;
    }
    .player-song-name {
        h1 {
            width: 100%;
        }
    } 
    .volume-control {
        @include flex(column, center, center);
    }
    .player__area {
        height: 70%;
    }
}