@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

$PlayerColor: #212529 ;
$DarkerShade: #202020;
$PlayerBackgroundColor: #E63946;
$LexenDeca: 'Lexend Deca', sans-serif;
$OleoScript: 'Oleo Script', cursive;

.player__area {
    max-height: 40vh;
    margin: 3.5em;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #E63946;
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
}
.player{
    display: flex;
    width: 45vw;
    height: 40vh;
    margin: 7.2%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #E63946;
}

.player-song-name {
    width: 90%;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    h1 {
        padding-bottom: 10px;
        color: $PlayerColor;
        width: 80%;
        font-size: 2.1rem;
        font-family: $LexenDeca;
        margin: 0;
        font-weight: bold;
    }
}

.time-control {
    width: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 20px;
    input {
        width: 100%;
        -webkit-appearance: none;
        background: transparent;
        outline: none;
        opacity: 0.7;
        -webkit-transition: 0.2s;
        transition: opacity 0.2s;
        cursor: pointer;
    }
    p {
        padding: 1rem;
        margin: 0;
        min-width: 60px;
        width: 75px;
        font-size: 1.2em;
    }
}

.play-control {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    width: 90%;
}

.volume-control {
    display: flex;
    background-color: inherit;
    // border: 1.5px solid $DarkerShade;
    flex-direction: column;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 7.3%;
    padding: 21px 2px 15px 2px;
    border-radius: 15px;
    height: 32vh;
}

.MuiSlider-root {
    color: $PlayerColor !important;
    display: flex !important;
    justify-content: center !important;
}
.MuiSlider-thumb {
    background-color: $PlayerColor !important;
    width: 15px !important;
    height: 15px !important;
    margin-left: 0 !important;
}
.MuiSlider-rail, .MuiSlider-track {
    width: 6px !important;
    border-radius: 5px !important;
}
.MuiSlider-valueLabel {
    left: calc(-33% - 4px) !important;
}

.play, .skip-back, .skip-forward, .repeat-song, .volume-icon {
    cursor: pointer;
    filter: drop-shadow(5px 7px 4px rgba(33, 37, 41, 0.35));
    
}

.volume-icon {
    margin-top: 12px;
    padding-bottom: 4px;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]:hover {
    opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
    // -webkit-appearance: none;
    // appearance: none;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    // transition: 0.2s all ease-out;
    z-index: 13000;
    position: relative;
    
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    transition: 0.2s all ease-out;
}

.track {
    width: 100%;
    height: 0.7rem;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}

.animate-track {
    background: #d3d5d7;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(0%);
    pointer-events: none;
    border: 0.4px solid #d3d5d7;
}

// Mobile layout
@media screen and (max-width: 540px) {
    .time-control {
        width: 90%;
    }
    .play-control {
        width: 60%;
    }
}
// iPad layout
@media (min-width: 768px) and (max-width: 1024px) {
    .time-control {
        width: 85%;
    }
    .play-control {
        width: 60%;
    }
}
// iPad Pro and other 13 inch screen
@media (min-width: 1024px) and (max-width: 1366px) {
    .time-control {
        width: 80%;
    }
    .play-control {
        width: 40%;
    }
}

@media (min-width: 1366px) {
    .time-control {
        width: 100%;
    }
    .play-control {
        width: 100%;
    }
}